<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - Whisper</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Register</h1>
    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>
    <form action="/register" method="POST">
      <input type="text" name="username" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit" class="btn">Register</button>
    </form>
    <div class="google-container">
      <a href="/auth/google" class="btn google">Sign up with Google</a>
    </div>
    <p>Already have an account? <a href="/login">Login</a></p>
    <footer>Designed by Saad Tiwana</footer>
  </div>
</body>
</html>
